@import '../../variables.scss';

.back-wrapper {
  display: flex;

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: $textColor;

    img {
      width: 2.8rem;
      height: auto;
    }

    p {
      display: inline-block;
      font-size: 1.8rem;
    }
  }
}
