@import '../../_mixins.scss';
@import '../../variables.scss';

.home {
  @include display-flex-column;
  align-items: center;
  padding: 2.5rem;
  height: 100%;

  @media (min-width: $minWidthTablet) {
    padding: 5rem;
  }

  @media (min-width: $minWidthDesktop) {
    padding: 10rem;
  }
}
