@import '../../variables.scss';
@import '../../_mixins.scss';

.component-wrapper {
  @include display-flex-column;
  padding: 3rem;
  height: 100%;

  .trip-details {
    @include display-flex-column;
    align-items: center;
    flex-grow: 1;

    @media (min-width: $minWidthDesktop) {
      margin: 2rem auto;
      width: 80rem;
      flex-grow: 0;
    }

    .header-wrapper {
      @include display-flex-center;
      margin: 1.5rem 0;
      width: 100%;
      position: relative;

      @media (min-width: $minWidthDesktop) {
        margin: 0 0 3rem 0;
      }

      h1 {
        display: inline-block;
        font-size: 2rem;
        color: $headerColor;
        margin: 0;

        @media (min-width: $minWidthDesktop) {
          font-size: 3rem;
        }
      }

      .img-delete {
        display: inline-block;
        height: 2rem;
        position: absolute;
        right: 0;
        cursor: pointer;

        @media (min-width: $minWidthDesktop) {
          height: 2.2rem;
        }

        &:hover {
          border: 0.1rem dotted $borderColor;
          border-radius: $borderRadiusTwo;
        }

        &:active {
          background-color: $borderColor;
          border-radius: $borderRadiusTwo;
        }
      }
    }

    .details-wrapper {
      @include display-flex-column;
      flex-grow: 1;
      width: 100%;

      @media (min-width: $minWidthDesktop) {
        flex-direction: row;
        flex-grow: 0;
        width: auto;
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: $textColor;

        &:hover {
          text-decoration: underline;
        }
      }

      .box {
        @include display-flex-center;
        flex-grow: 1;
        width: 100%;
        border-radius: $borderRadiusTwo;
        cursor: pointer;
        font-size: 1.8rem;

        @media (min-width: $minWidthDesktop) {
          flex-grow: 0;
          height: 30rem;
          width: 40rem;
          font-size: 2.2rem;
        }
      }

      .box-wrapper {
        @include display-flex-column;
        flex-grow: 1;

        @media (min-width: $minWidthDesktop) {
          flex-grow: 0;
        }
      }

      .section-1{
        .things-to-do {
          background-color: $thingsToDoColor;
        }

        .beaches {
          background-color: $beachesColor;
        }
      }

      .section-2 {
        .food-drink {
          background-color: $foodDrinkColor;
        }

        .accommodation {
          background-color: $accommodationColor;
        }
      }
    }
  }
}
