@import '../../variables.scss';
@import '../../_mixins.scss';

.section-list-wrapper {
  width: 100%;
  margin-top: 1rem;

  @media (min-width: $minWidthTablet) {
    width: 75rem;
  }

  .item-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 0.1rem dotted $borderColor;
    position: relative;
    margin-bottom: 1rem;

    .text-wrapper {
      margin-right: 1.5rem;

      @media (min-width: $minWidthTablet) {
        margin-right: 0;
      }
      h4, p {
        margin: 0 0 10px 0;
      }

      h4 {
        font-size: 2rem;
      }

      p {
        font-size: 1.6rem;

        @media (min-width: $minWidthTablet) {
          width: 69rem;
        }
      }

      .read-more, .read-less, .dots {
        color: #170aa9;
        font-size: 1.4rem;

        &:hover {
          color: #369;
        }
      }

      .read-more, .read-less {
        cursor: pointer;
      }
    }
  }

  .img-delete {
    width: 17px;
    height: auto;
    position: absolute;
    right: 0;
    cursor: pointer;

    &:hover {
      border: 1px dotted #ccc;
      border-radius: 2px;
    }

    &:active {
      background-color: #ccc;
      border-radius: 2px;
    }
  }
}
