.wrapper-box {
  padding: 100px;

  h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
  }
  form {
    label {
      display: inline-block;
      margin: 10px 0 10px 0;
    }

    .form-control {
      margin-bottom: 10px;

      &.is-invalid {
        border-color: red;
        outline: none;
      }
    }

    .invalid-feedback {
      color: red;
      margin: 0;
      font-size: 12px;
    }

    div {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      input {
        width: 100px;
        cursor: pointer;
        outline: none;
      }

      .submit-button {
        color: white;
        background-color: #170aa9;

        &:hover {
          background-color: #180689;
        }
      }

      .notification-added {
        background-color: #170aa9;
      }

      .cancel-button {
        border: none;
        color: #170aa9;
      }
    }
  }
}
