.wrapper {
  display: flex;
  align-self: flex-end;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    .plus {
      padding-right: 10px;
      width: 31px;
    }
  }
}
