@import '../../_mixins.scss';
@import '../../variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: $borderRadiusTwo;
  background-color: $buttonUnactiveColor;
  margin-top: 1.7rem;

  &:active {
    background: $buttonActiveColor;
  }

  @media (min-width: $minWidthDesktop) {
    align-self: flex-end;
    width: auto;
    background-color: transparent;
    margin-top: 1rem;

    &:active {
      background: transparent;
    }
  }

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $textColor;
    width: 100%;

    @media (min-width: $minWidthDesktop) {
      &:hover {
        background-color: $buttonHoverColorGrey;
        border-radius: 0.4rem;
      }

      &:active {
        background-color: $buttonActiveColorGrey;
      }
    }

    .plus {
      display: none;

      @media (min-width: $minWidthDesktop) {
        display: inline-block;
        width: 4rem;
      }
    }

    .add-button-text {
      text-transform: uppercase;
      font-size: 1.2rem;
      margin: 0;
      padding: 1.1rem;

      @media (min-width: $minWidthDesktop) {
        font-size: 2.5rem;
        text-transform: none;
        padding: 1.1rem 0 1.1rem 1.1rem;
      }
    }
  }
}
