@import '../../variables.scss';
@import '../../_mixins.scss';

.component-wrapper {
  padding: 2rem;
  width: 100%;

  .section-wrapper {
    @include display-flex-column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;

    @media (min-width: $minWidthTablet) {
      margin: 2rem auto;
    }

    h1 {
      display: inline-block;
      margin: 0;
      font-size: 2.5rem;

      @media (min-width: $minWidthTablet) {
        font-size: 2rem;
      }
    }

    .form-wrapper {
      margin: 1rem 0;
      width: 100%;

      form {
        @include display-flex-column;

        @media (min-width: $minWidthTablet) {
          flex-direction: row;
        }

        input {
          outline: none;
          height: 4.5rem;
          width: 100%;
          font-size: 2rem;
        }

        .input-wrapper {
          @include display-flex-column;
        }

        .input-info{
          display: inline-block;
          border: 0.1rem solid $borderColor;
          margin-bottom: 1.5rem;
          width: 100%;

          &.is-invalid {
            border-color: $borderColorRed;
            outline: none;
          }

          &:focus {
            border-color: $borderColorFocus;
          }
        }

        .name {
          @media (min-width: $minWidthTablet) {
            width: 25rem;
            margin-right: 2rem;
          }
        }

        .details {
          @media (min-width: $minWidthTablet) {
            width: 40rem;
            overflow: auto;
          }
        }

        .invalid-feedback {
          color: $textColorRed;
          margin-bottom: 0.8rem;
          font-size: 1.5rem;

          @media (min-width: $minWidthTablet) {
            margin: 0;
          }
        }

        .notification-added {
          background-color: #170aa9;
        }

        .add-button {
          cursor: pointer;
          background-color: $buttonUnactiveColor;
          color: $textColorWhite;
          border-style: none;
          width: auto;
          padding: 1rem 1.5rem;

          @media (min-width: $minWidthTablet) {
            margin-left: 2rem;

            &:hover {
              background-color: $buttonHoverColor;
            }
          }
        }
      }
    }
  }
}
