.home-wrapper {

  a {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    text-decoration: none;
    color: black;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    p {
      margin: 0;
      text-transform: uppercase;
      position: relative;
      top: 3px;
    }
  }
}
