$minWidthDesktop: 992px;
$minWidthTablet: 768px;

$headerColor: #4d4d4d;
$textColor: #191f22;

$borderColor: #ccc;
$borderColorDark: #3e3e3e;

$thingsToDoColor: #beefed;
$beachesColor: #feaebf;
$foodDrinkColor: #aebeef;
$accommodationColor: #fedfb3;

$buttonUnactiveColor: #4180d8;
$buttonActiveColor: #265ca7;

$buttonHoverColorGrey: #f0f0f0;
$buttonActiveColorGrey: #dddddd;

$borderRadiusTwo: 0.2rem;
