$minWidthDesktop: 992px;

$headerColor: #4d4d4d;
$textColor: #191f22;
$borderColor: #ccc;
$thingsToDoColor: #beefed;
$beachesColor: #feaebf;
$foodDrinkColor: #aebeef;
$accommodationColor: #fedfb3;


$borderRadiusTwo: 0.2rem;
